:root
{
  --first-color: rgb(83, 175, 190);
  --first-color-opacity: 83, 175, 190;
  --second-color: rgb(254, 92, 54);
  --second-color-opacity: 254, 92, 54;
  --thirth-color: rgb(254, 180, 73);
  --fourth-color: rgb(67, 67, 67);
  --light-gray: rgb(243, 243, 243);
}

*
{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.navbar-bg
{
    background-color: var(--first-color);
}

.navbar.fixed
{
    position: fixed;
}

.navbar-bg.fixed
{
    position: fixed;
    height: 80px;
    z-index: 99;
}

.main-sidebar,
.main-sidebar aside
{
    background-color: var(--first-color);
}

.main-sidebar aside
.sidebar-brand
{
    height: auto;
    padding: 3em;
    background-color: var(--light-gray);
}

.main-sidebar .sidebar-menu > li
{
    border-bottom: 1px solid white;
}

.main-sidebar .sidebar-menu
.profile-dropdown ul.dropdown-menu li a i
{
    font-size: .7em;
    width: fit-content;
    color: var(--thirth-color);
}

.main-sidebar .sidebar-menu li a
{
    padding: 20px;
    height: auto;
    transition: all .4s;
}

.main-sidebar .sidebar-menu li a i
{
    font-size: 1.5em;
    min-width: 28px;
}

.main-sidebar .sidebar-menu li a span
{
    font-weight: 900;
}

.main-sidebar .sidebar-menu
li.profile-dropdown a span .name
{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.15em;
}

.main-sidebar .sidebar-menu
li.profile-dropdown a span .email
{
    font-size: .9em;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu li.active ul.dropdown-menu li a
{
    background-color: var(--light-gray);
    color: var(--first-color);
    font-weight: 700;
    border-bottom: 1px solid white;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu li.active ul.dropdown-menu li a:hover
{
    background-color: rgba(var(--first-color-opacity), 0.12);
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before
{
    background-color: var(--first-color);
}



.main-sidebar .sidebar-menu li ul.dropdown-menu li a
{
    height: auto;
}

.main-sidebar aside
.sidebar-brand.hidden
{
    padding: 0 ;
}

.main-sidebar aside
.sidebar-brand img
{
    width: 90px;
}

.main-sidebar aside
.sidebar-brand.hidden img
{
    width: 30px;
}

.main-sidebar 
.sidebar-menu > li > a
{
    color: white;
}

.main-sidebar
.sidebar-menu li.active
{
    background-color: white;
}

.main-sidebar
.sidebar-menu li.active a 
{
    color: var(--first-color);
}

.main-sidebar 
.sidebar-menu > li:not(.active) > a:hover
{
    background-color: var(--first-color);
    filter: brightness(1.1);
}






/* ----------- SIDEBAR MINI ------------*/

body.sidebar-mini .main-sidebar
{
    position: fixed;
}

body.sidebar-mini .main-sidebar:after
{
    background-color: var(--first-color);
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a
{
    background-color: var(--first-color);
    box-shadow: none;
}

body.sidebar-mini 
.main-sidebar 
.sidebar-menu > li > a > i
{
    margin: 0;
}






/*------- HOME PAGE STYLES -----*/




.upper-info-container
.card-upper-info
{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--fourth-color);
    background-color: white;
    position: relative;
}

.upper-info-container
.card-upper-info
.welcome
{
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    border-top: 2px solid var(--thirth-color);
    padding-top: 1em;
    font-style: italic;
    position: relative;
}

.upper-info-container
.card-upper-info
.names
{
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    border-bottom: 2px solid var(--thirth-color);
    position: relative;
    padding: 0.5em 0 1em 0;
}


.card-header h4
{
    color: var(--fourth-color);
    font-family: 'Roboto-condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
    border-bottom: 1px solid rgb(196, 196, 196);
    padding: 0.7em 0;
    position: relative;
}

.card-header h4::before
{
    position: absolute;
    content: "";
    height: 5px; width: 150px;
    background-color: var(--second-color);
    bottom: -6px;
    left: 0;
}



/* ------- PUBLISHING STYLES -------*/

.card .card-header
{
    padding: 0 25px;
}

.publishings > .card
{
    background-color: transparent;
    box-shadow: none;
}

.publishings > .card-body.publishing-boxes-container
{
    display: flex;
    align-items: center !important;
    background-color: transparent;
    padding-top: 20px;
}

.publishings > .card-body.publishing-boxes-container 
.tight-publishing-container
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.publishings > .card-body.publishing-boxes-container
.publishing-box
{
    max-width: 800px;
    position: relative;
}

.publishings > .card-body.publishing-boxes-container
.publishing-box::after
{
    content: "";
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; height: 80%;
    background-color: var(--main-color);
    border-radius: 50px;
    opacity: 0.4;
}

.publishing-box .card-body
{
    padding: 0 !important;

}

.publishing-box .card-body .box-content-info-user 
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5em 1.5em 1em 1.5em;
}

.publishing-box .card-body .box-content-info-user hr
{
    width: 100%; height: 1px;
    color: rgb(156, 156, 156);
    margin: .3em !important;
}

.publishing-box .card-body .box-content-info-user 
.box-flex-align-info
{
    display: flex;
    gap: 15px;
}

.publishing-box .card-body .box-content-info-user
.box-flex-align-info .avatar-img
{
    display: flex;
    align-items: center;
}

.publishing-box .card-body .box-content-info-user
.box-flex-align-info .avatar-img > i
{
    color: var(--thirth-color);
    font-size: 3.5em;
}

.box-content-info-user 
.box-publication-info .publishing-title
{
    color: rgb(83, 83, 83);
    font-weight: 700;
    font-size: 1.3em;
}

.box-content-info-user 
.box-publication-info .publishing-name-time
{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(156, 156, 156);
}

.box-content-info-user 
.box-publication-info .publishing-name-time i
{
    font-size: .4em;
}

.box-content-info-user 
.box-publication-info .publishing-name-time 
.publishing-difftime
{
    text-transform: lowercase;
}

.box-content-info-user  .publishing-text-content
{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.publishing-box .card-body .box-publishing-img img
{
    width: 100%;
}

.publishing-box .card-body .box-publishing-footer
{
    height: 30px;
}


/* ------- RECOMENDED COURSES STYLES -----*/


.recomended-courses.fixed
{
    position: fixed;
    width: calc(33% - 85px);
    right: 15px;
    top: 100px;

}

.gradient-bottom
{
    max-height: 80vh;
    overflow: scroll;
}

.gradient-bottom::after
{
    display: none;
}

.recomended-courses
.card-body ul li
{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.list-unstyled-border li
{
    border-bottom: 1px solid rgb(202, 202, 202);
}

.recomended-courses
.card-body ul li .media-body
{
    display: flex;
    gap: 10px;
}

.recomended-courses
.card-body ul li .media-body >
.img-course
{
    height: 120px;
    min-width: 35%;
    background: rgb(219,219,219);
    background: linear-gradient(94deg, rgba(219,219,219,1) 0%, rgba(236,236,236,1) 100%);
    border-radius: 30px;
}

.recomended-courses
.card-body ul li .media-body >
.course-description-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recomended-courses
.card-body ul li .media-body >
.course-description-container
[class^='text-content']
{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgb(219,219,219);
    background: linear-gradient(94deg, rgba(219,219,219,1) 0%, rgba(236,236,236,1) 100%);
}

.recomended-courses
.card-body ul li .media-body >
.course-description-container
[class^='text-content']:nth-child(even)
{
    width: 75%;
}