* 
{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

:root
{
  --first-color: rgb(83, 175, 190);
  --first-color-opacity: 83, 175, 190;
  --second-color: rgb(254, 92, 54);
  --second-color-opacity: 254, 92, 54;
  --third-color: rgb(254, 178, 72);
  --fourth-color: rgb(67, 67, 67);
  --light-gray: rgb(243, 243, 243);
}


/* ---------- GENERAL ------------*/

button:focus
{
    outline: none !important;
}

.sidebar-mini
.main-sidebar .sidebar-menu li a i
{
    margin-right: 0 !important;
}

div.dataTables_wrapper div.dataTables_processing
{
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

.navbar-bg
{
    background-color: var(--first-color);
}

.principal-container
{
    min-height: 75vh;
    overflow-x: scroll;
}

table.dataTable span.status,
span.status
{
    color: white;
    padding: 0.5em;
    border-radius: .7em;
    font-size: .9em;
    background-color: #ce2929c9;
}

table.dataTable span.status.active,
span.status.active
{
    background-color: #3cb838c7 !important;
}

.dataTable 
{
    width: 100% !important;
}

.navbar-bg
{
    height: 70px !important;
}

.main-container-page
{
    width: 100%;
}

.page-title-container
{
    background-color: transparent;
    box-shadow: none;
}

.card .card-header 
{
    padding: 0 25px;
}

.card-header .total-width-container 
{
    width: 100%;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.card-header .total-width-container h4 
{
    color: black;
    font-family: 'Roboto-condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    width: fit-content;
    padding: 0.7em 0;
    position: relative;
}

.card-header .total-width-container h4 a
{
    font-family: 'Roboto-condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    width: fit-content;
    padding: 0.7em 0;
}

.card-header .total-width-container h4::before 
{
    position: absolute;
    content: "";
    height: 5px;
    width: 130%;
    min-width: 120px;
    background-color: rgb(116, 116, 116);
    bottom: -6px;
    left: 0;
}

.loadSpinner
{
    display: none;
}

.loadSpinner.active
{
    display: inline-block;
}

.select2
{
    width: 100% !important;
}

label.error
{
    order: 2;
    width: 100%;
    margin: 0.5em 0 -1.2em 0.5em;
    color: rgb(197, 0, 0);
}

.btn-primary, .btn-primary.disabled
{
    box-shadow: 0 2px 6px rgba(var(--first-color-opacity), 0.3);
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
    background-color: var(--first-color) !important;
    filter: brightness(0.9);
}

.btn-primary:focus:active, .btn-primary.disabled:focus:active {
    background-color: var(--first-color) !important;
}

.btn-primary:focus, .btn-primary.disabled:focus {
    background-color: var(--first-color) !important;
    filter: brightness(0.9);
}

.page-item.active .page-link {
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.page-item.disabled .page-link {
    border-color: transparent;
    background-color: #f9fafe;
    color: var(--first-color);
    opacity: .6;
}

.page-item .page-link {
    color: var(--first-color);
    border-radius: 3px;
    margin: 0 3px;
}

.page-link:hover {
    background-color: var(--first-color);
    filter: brightness(1.1);
    color: #fff;
    border-color: transparent;
}

.custom-switch-input:checked ~ .custom-switch-indicator {
    background: var(--first-color);
}

.custom-switch-indicator {
    border: 1px solid rgba(var(--first-color-opacity), 0.9) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--first-color);
    color: #fff;
}

.form-control:focus
{
    border-color: var(--first-color) !important;
}

.bootstrap-timepicker-widget table td input
{
    width: 40px !important;
}

.image-preview, #callback-preview
{
    width: auto !important;
    height: 200px !important;
}

.image-preview input, #callback-preview input
{
    font-size: inherit !important;
}

.img-holder
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-holder
.course_img
{
    height: 100%;
}

.content-course-btn
{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.content-course-btn i
{
    font-size: 1.8em;
}


/*    SWEET ALERT ----*/

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm
{
    background-color: var(--first-color) !important;
}


/* ---------   SIDEBAR   --------- -*/

.main-sidebar
{
    background-color: var(--first-color);
}

.main-sidebar .sidebar-menu li a
{
    color: white;
    transition: all .2s !important;
}

.main-sidebar .sidebar-menu li.logout a
{
    background-color: rgb(170, 66, 66);
}

.main-sidebar .sidebar-menu li.active a
{
    color: var(--first-color);
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before,
body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a
{
    background-color: white;
}

.main-sidebar .sidebar-menu li a:hover
{
    filter: brightness(1.1);
    background-color: var(--first-color);
}

.main-sidebar .sidebar-menu li.logout a:hover
{
    filter: brightness(1.1);
    background-color: rgb(170, 66, 66);
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a
{
    background-color: var(--first-color);
    box-shadow: 0 4px 8px #ace7f6
}



/* ------------- COURSE SHOW STYLES  ---------------*/

.principal-container.course-show
{
    flex-direction: column;
    justify-content: flex-start;
    gap: 3em;
}

.title-course-show
{
    color: var(--first-color);
    margin: 0 !important;
}

.info-course-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upper-container-info
{
    display: flex;
    gap: 1.5em;
}

.upper-container-info
.left-subcontainer-info
{
    width: 100%;
    display: flex;
    justify-content: center;
    order: 2;
}

.inner-container-info
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inner-container-info
.row-sub-content
{
    min-height: 50px;
    height: auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.inner-container-info
.row-sub-content span
{
    display: flex;
    align-items: center;
}

.row-sub-content .subtitle
{
    min-width: 100px;
    font-weight: 700;
    font-size: 1.1em;
    background-color: rgb(240, 240, 240);
}

.row-sub-content .data-text
{
    width: 100%;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-right: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.row-sub-content .subtitle,
.row-sub-content .data-text
{
    padding: 1em;
}

.right-subcontainer-info
.title-img-course-prev
{
    font-weight: 500;
    font-size: 1.2em;
}

.upper-container-info
.right-subcontainer-info
.img-course-prev-container 
{   
    width: 400px;
    max-height: 250px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 6px solid var(--first-color);
}

.img-course-prev-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.down-container-info
{
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-around;
}

.down-container-info >div
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.down-container-info
.sub-title-time-course
{
    font-weight: bolder;
    font-size: 1.1em;
    text-decoration: underline;
}

.down-container-info
.info-time-course
{
    font-weight: bolder;
    color: green;
    font-size: 1.2em;
}

.info-content-course-container
{
    width: 100%;
    max-width: 1000px;
}

.folder-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.folder-container
.folder-card
{
    width: 135px;
    text-align: center;
    padding: 1em;
}

.folder-card
.folder-img
{
    width: 100%;
}

.folder-link
{
    transition: none;
}

.folder-link:hover 
{
    background-color: rgba(0, 0, 0, 0.068);
}

.folder-action-container
{
    max-width: 500px;
}

.folder-inner-container
{
    border-top: 1px solid rgba(0, 0, 0, 0.164);
    padding-top: 3em;
}

.subfolder-create-input
{
    width: 100%;
    max-width: 500px;
}

.course-show.folder-view
{
    gap: 1em;
}

.files-section-container
{
    width: 100%;
    max-width: 500px;
}

.input-file-folder
{
    padding: 0.375rem 0.75rem !important;
}





/* -------------  FREE COURSES ----------------*/


/* general */

.principal-splitted-container
{
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.principal-splitted-container
.principal-inner-container
{
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075);
    height: max-content;
}

.principal-inner-container
.inner-title-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.btn-dropdown-container
{
    cursor: pointer;
    color: rgb(139, 139, 139);
    transition: all .1s;
}

.btn-dropdown-container:hover
{
    color: rgb(41, 41, 41);
}

.btn-dropdown-container i
{
    transition: all .1s;
}

.btn-dropdown-container.show i
{
    transform: rotateZ(180deg);
}

/* .related-dropdown-container
{   
    height: 0px;
    
    margin-top: 0 !important;
} */

.related-dropdown-container
{
    height: auto;
    width: auto;
    margin-top: 1.5rem !important;
}



.related-dropdown-container.table-container
{
    overflow-x: scroll;
}

.related-dropdown-container.table-container .row
{
    margin-right: 0 !important;
}

.related-dropdown-container:not(.table-container) > div:hover
{
    background-color: rgba(245, 245, 245, 0.63);
}

.action-btn-dropdown-container
{
    display: none;
}

.action-btn-dropdown-container.show
{
    display: block;
}

.flg-recom-btn.active
{
    color: rgb(255, 182, 25);
}

/* categories */


.categories-list-container
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: none;
}



.categories-list-container
.category-box
{
    height: 120px;
    min-width: 100%;
    /* max-width: 500px; */
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.103);
    display: flex;
}

.category-box
.img-cat-container
{
    height: 100%;
    width: 100%;
    max-width: 300px;
    position: relative;
}

.img-cat-container::after
{
    position: absolute;
    content: '';
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.cat-img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-cat-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    /* min-width: 140px; */
}

.info-cat-container
.cat-description
{
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    min-width: 140px;
}

.action-box
{
    /* background-color: #ace7f6; */
    width: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.action-box
.btn-action-container
{
    text-align: center;
    font-size: 1.3em;
    display: flex;
    width: max-content;
    margin-left: auto;
    border-radius: 0 0 0 5px;
    border-left: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
}

.btn-action-container > span
{
    width: 100%;
    padding: 5px calc(1.1vw + 5px);
    cursor: pointer;
    transition: all .1s;
    border-radius: 5px;
}

.btn-action-container > span.disabled
{
    cursor: not-allowed;
}

.btn-action-container > span:not(.disabled):hover
{
    background-color: rgb(255, 255, 255);
}

.btn-action-container
.edit-btn
{
    color: rgb(255, 145, 0);
}

.btn-action-container
.delete-btn
{
    color: rgb(233, 0, 0);
}

.delete-btn.disabled
{
    color: rgb(190, 190, 190);
}

.action-box
.btn-show
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
    color: rgb(143, 143, 143);
    cursor: pointer;
    transition: all .1s;
}

.btn-show:hover
{
    background-color: rgb(255, 255, 255);
}

.btn-show > span
{
    font-weight: 500;
}

.btn-show i
{
    font-size: 1.5em;
}


.btn-row-container
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-row-container
.horizontal-hide-button
{
    padding: 0 3px;
    background-color: rgb(236, 236, 236);
    border-radius: 0 1px 0 0;
    box-shadow: 2px -4px 0 8px rgb(236, 236, 236), 
                2px 4px 0 8px rgb(236, 236, 236);
    display: none;
}

.horizontal-hide-button.active
{
    display: block;
}



@media (min-width: 992px)
{

    /* -------------  FREE COURSES ----------------*/

    /* general */

    .principal-splitted-container
    {
        flex-wrap: nowrap;
    }

    .principal-splitted-container
    .principal-inner-container
    {
        width: auto;
    }

    .principal-inner-container.right
    {
        flex-grow: 1;
        width: 500px;
    }

    .categories-list-container
    {
        max-width: 500px;
    }


}



@media (max-width: 1024px)
{
    .main-content 
    {
        padding-left: 5px !important; 
        padding-right: 5px !important;
    }
}
