.unselectable {
    user-select: none
}

.dragaware {
    cursor: pointer;
}

.draggable_clone {
    position: absolute; /* also set via javascript */
    z-index: 100001;
    pointer-events:none; /* disable mouse events on the clone */
}

.draggable.dragging, .draggable .dragging {
    opacity: 0.5;
}

.sortable .sortable_clone {
    position: absolute; /* also set via javascript */
    z-index: 100001;
    list-style-type: none;
    opacity: 0.5;
}

.sortable .sortable_placeholder {
    box-sizing: border-box;
    list-style-type: none;
    background: #eee;
    border: 2px dotted #52b218;
}